@import "./../App/app";
.home{
    
    .home-header{
        background-color: #108ee9;
        //margin-bottom: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .search{
            .search-input{
                width: 80%;
            }
            .icon-sec{
                width: 5%;
                padding-top: 10px;
                color: #fff;
            }
            .am-icon-md{
                width: px2rem(22);
                height: px2rem(22);
            }
        }
        
    }
    .am-search{
        background-color: #108ee9;
    }
    .am-search-cancel{
        display: none;
    }
    .home-content{
        padding: 64px 20px 50px;
        .con{
            margin-bottom: 20px;
        }
        .name{
            font-size: px2em(16);
            text-align: center;
            color: #333;
            margin-top: 5px;
        }
        .am-flexbox-item:nth-child(2n){
            margin-left: 10px;
        }
        .am-flexbox-item:nth-child(2n+1){
            margin-right: 10px;
        }
    }
}